ul.sm_codegrape_widget_ul {
	clear:both;
	margin:0 0 -10px !important;
	padding:0 !important;	
	list-style:none !important;
}

ul.sm_codegrape_widget_ul li {
	float:left;
	display:inline-block !important;
	width:60px !important;
	height:60px !important;	
	margin:0 10px 10px 0 !important;
	padding:0 !important;
	vertical-align:top;
	border-bottom:none !important;
}

ul.sm_codegrape_widget_ul li:nth-child(4n) {
	margin-right:0 !important;
}

ul.sm_codegrape_widget_ul  li img {
	width:60px !important;
	height:60px !important;
	margin:0 !important;
	padding:0 !important;
}

.sm_read_more {
	clear:both;
	margin:5px 0 0 0 !important;
	text-align:center;
}
